
<div fxLayoutWrap>

<div fxFlex="50" fxFlex.xs="100" *ngFor="let metric of productivityDashboard" >
        <mat-card  color="accent" style="margin:10px;text-align:center" >
                <h2><mat-icon>play_for_work</mat-icon> {{metric.metricName}}</h2>
                <mat-card-content>
                    <h3><span *ngIf="metric.hourlyRate!='NaN'">{{metric.hourlyRate}}</span>
                         <span *ngIf="metric.hourlyRate=='NaN'">0</span> per hour</h3>
                    <div>{{metric.totalQuantity}} total</div>
                    <div>{{metric.totalTime}} hours</div>
                </mat-card-content>
        </mat-card>
</div>


</div>