
<div fxLayoutWrap>

<div fxFlex="50" *ngFor="let metric of productivityDashboard">
        <md-card  style="min-height:150px;margin:10px;">
                <md-card-header>
                    <md-card-title>{{metric.metricName}}</md-card-title>
                </md-card-header>
                <md-card-content>
                    <div><span *ngIf="metric.hourlyRate!='NaN'">{{metric.hourlyRate}}</span>
                         <span *ngIf="metric.hourlyRate=='NaN'">0</span> per hour</div>
                    <div>{{metric.totalQuantity}} total</div>
                </md-card-content>
                <md-card-actions><button md-button>Details</button></md-card-actions>
        </md-card>
</div>


</div>