<md-sidenav-container fxFlex >
        <md-sidenav #sidenav mode="side" opened>
            <md-tab-group color="accent">
            <md-tab label="Retrieve">
            <md-nav-list style="margin-bottom:75px;">
                    <md-list-item *ngFor="let task of taskList" (click)="selectTask(task)">
                        <md-icon mat-list-icon>transfer_within_a_station</md-icon>
                        <h4 mat-line>{{task.order.primaryCustomerLastName}},  {{task.order.primaryCustomerFirstName}}</h4>
                        <p mat-line> {{task.order.externalOrderId}}  </p>
                    </md-list-item>
                </md-nav-list>
            </md-tab>
            </md-tab-group>
        </md-sidenav>
        <div style="margin-bottom:75px;" class="dc-content" *ngIf="selectedTask">
                Type: {{selectedTask.workAssignmentTypeDescription}} <br>
                {{selectedTask.order.primaryCustomerLastName}}, {{selectedTask.order.primaryCustomerFirstName}}

                <div *ngIf="selectedTask.orderDetails">
                    <package-list [packageList]="selectedTask.orderDetails.packageList"></package-list>
                </div>
        </div>
    </md-sidenav-container> 
    
          <button md-fab color="accent" class="sidebar-fab" (click)="sidenav.toggle()">
             <md-icon>menu</md-icon>
          </button>