
.sidebar-fab{
  position: fixed;
  left: 20px;
  bottom:20px;
  z-index:1000;
}

mat-sidenav {
  width: 320px;
}

mat-sidenav-container {
  position: fixed;
  height: 87%;
  min-height: 87%;
  width: 100%;
  min-width: 100%;
}