<button mat-button routerLink='/blog'>BACK</button>
<div *ngIf="blogPost != undefined">
    <div class="container content">
        <span class="dc-header">
            <h3>{{blogPost.title}}</h3>
            <h5>{{blogPost.subtitle}}</h5>
            <div><mat-icon class="dc-icon-medium">person</mat-icon> {{blogPost.user[0].username}}</div>
            <div><mat-icon class="dc-icon-medium">access_time</mat-icon> {{blogPost.date | date}}</div>
        </span>
        <div [innerHTML]="blogPost.content"></div>
    </div>
</div>

<span *ngIf="dataLoading">
    <mat-progress-bar mode="indeterminate" fxFlexLayout='row' style='position:absolute;bottom:0;'></mat-progress-bar>
</span>