<div class="dc-content" *ngIf="articles">
    <div fxLayoutWrap>
            <div fxFlex="100" *ngFor="let post of articles.articles">
                    <mat-card class="dc-card">
                        <mat-card-header>
                            <mat-card-title>{{post.title}}</mat-card-title>
                            <mat-card-subtitle>{{post.subtitle}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p><mat-icon class="dc-icon-small">access_time</mat-icon>{{post.createdAt | date}} by {{post.user[0].username}}</p>
                            <p></p>
                        </mat-card-content>
                        <mat-card-actions style="border-top:solid #e0e0e0 1px">
                            <button mat-button (click)="onSelect(post.id)">READ MORE</button>
                        </mat-card-actions>
                    </mat-card>
            </div>
    </div>
</div>

<span *ngIf="dataLoading">
    <mat-progress-bar mode="indeterminate" fxFlexLayout='row' style='position:absolute;bottom:0;'></mat-progress-bar>
</span>



