@import "https://fonts.googleapis.com/css?family=Roboto:400,300";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
html, body{
  display: flex;
  flex-direction: column;
  height: 100%;

  margin:0;
  font-family: Roboto, Arial, sans-serif;

}

.dark-container{
  background-color:#303030 !important;
}

/* dc classes are created by me */
.dc-content{
    padding:25px;
}

.dc-card{
    margin:15px;
}

.dc-icon-medium{
    font-size:16px;
    position:relative;
    top:2px;
}

.dc-icon-small{
    font-size:14px;
    position:relative;
    top:2px;
}

.sidebar-fab{
  position: fixed;
  left: 20px;
  bottom:20px;
  z-index:1000;
}

/* container class from bootstrap because it is very useful */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

