<div class="mat-elevation-z5 table" style="margin:15px;">
  <mat-table #table [dataSource]="dataSource" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

     <!-- ID Column -->
    <ng-container cdkColumnDef="pickupTime" >
      <mat-header-cell *cdkHeaderCellDef style="flex:2"> Time </mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="flex:2"> {{row.scheduledDeliveryTimestamp | date: 'short'}} </mat-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container cdkColumnDef="orderId" >
      <mat-header-cell *cdkHeaderCellDef style="flex:3"> Order ID </mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="flex:3"> {{row.externalOrderId}} </mat-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="status">
      <mat-header-cell *cdkHeaderCellDef style="flex:2"> Status </mat-header-cell>
      <mat-cell *cdkCellDef="let row" style="flex:2"> {{row.pickStatus}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="ordered">
      <mat-header-cell *cdkHeaderCellDef> Ordered </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.totalOrderQuantity}} </mat-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="picked">
      <mat-header-cell *cdkHeaderCellDef>Picked</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.pickedOrderQuantity}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="dry">
      <mat-header-cell *cdkHeaderCellDef>Dry</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <div *ngFor="let picker of row.pickersForOrder"><div *ngIf="picker.pickZoneTypeCode == 2">{{picker.user}}</div></div> </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="refrigerated">
      <mat-header-cell *cdkHeaderCellDef>Refrigerated</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <div *ngFor="let picker of row.pickersForOrder"><div *ngIf="picker.pickZoneTypeCode == 3">{{picker.user}}</div></div> </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="frozen">
      <mat-header-cell *cdkHeaderCellDef>Frozen</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <div *ngFor="let picker of row.pickersForOrder"><div *ngIf="picker.pickZoneTypeCode == 4">{{picker.user}}</div></div> </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="bulk">
      <mat-header-cell *cdkHeaderCellDef>Bulk</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <div *ngFor="let picker of row.pickersForOrder"><div *ngIf="picker.pickZoneTypeCode == 6">{{picker.user}}</div></div> </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="hot">
      <mat-header-cell *cdkHeaderCellDef>Hot</mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <div *ngFor="let picker of row.pickersForOrder"><div *ngIf="picker.pickZoneTypeCode == 5">{{picker.user}}</div></div> </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<span *ngIf="dataLoading">
    <mat-progress-bar mode="indeterminate" fxFlexLayout='row' style='position:absolute;bottom:0;'></mat-progress-bar>
</span>