<mat-toolbar color="primary" class="nav-shadow">
  <span class="nav-button-row">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <button fxHide fxShow.gt-xs mat-button routerLink="/" style="font-size:32px"><!--<img src="assets/logo.png" style="margin-right:10px;">-->{{title}}</button>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span fxFlex></span>

  <mat-menu #appMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="toggleTheme(darkTheme)">Toggle Theme</button>
    <button mat-menu-item> Settings </button>
    <button mat-menu-item> Help </button>
    <button mat-menu-item> Log Out </button>
  </mat-menu>
  <button mat-icon-button>
      <mat-icon>store</mat-icon>
    </button>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>