<md-toolbar color="primary" class="nav-shadow">

  <span class="nav-button-row">
    <button md-button routerLink="/"><md-icon style="position:relative;bottom:2px;">delete</md-icon> {{title}}</button>
    <button md-button routerLink="/blog">BLOG</button>
    <button md-button>REVIEWS</button>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/editor"> Create Post </button>
    <button md-menu-item> Help </button>
  </md-menu>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
